header {
    background: linear-gradient(to right, #7360DF, black);
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: 0.3rem;
    color: #ccdad1;
    border: none;
    outline: none;
    background-color: #6f6866;
    box-shadow: 3px 3px #38302e;
    transform: translate(-1px, -1px);
    margin-top: 1rem;
}
  
.btn:hover {
color: #ccdad1;
background-color: #788585;
transform: translate(0, 0);
box-shadow: 2px 2px #38302e;
}

.form-input {
    display: block;
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid #6f6866;
    border-radius: 0.3rem;
}