header {
    background: linear-gradient(to right, #7360DF, black);
}

main {
    min-height: 100vh;
    background-image: url(../imgs/bg1.jpg);
    background-size: cover;
    background-position: center;
}

.h3-custom {
    font-weight: bold;
}

.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: 0.3rem;
    color: white;
    border: none;
    outline: none;
    background-color: #6f6866;
    box-shadow: 3px 3px #38302e;
    transform: translate(-1px, -1px);
    margin-top: 1rem;
}
  
.btn:hover {
color: white;
background-color: #788585;
transform: translate(0, 0);
box-shadow: 2px 2px #38302e;
}

.form-input {
    display: block;
    width: 100%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid #6f6866;
    border-radius: 0.3rem;
}

#short-cut {
    display: flex;
    flex-direction: column;
}




p {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.btn-city {
    padding: 12px 28px;
    background: #7360DF;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    box-shadow: 0 0 5px #709bdf;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.btn-city:hover {
    background: #7360DF;
    box-shadow: 0 0 5px #70addf;
    color: white;

    
}

.card-custom {
    position: relative;
    width: 20%;
    
}
.card-individual {
    background: linear-gradient(to bottom, #7360DF, rgb(84, 85, 87));
}


@media (max-width: 768px) {
    /* Tus estilos aquí */
    .card-custom {
        width: 100%;
        margin-bottom: 2rem;
    }
}
